

# knowledge directory

## Ignore all generated vector databases in knowledge/rag_db/
knowledge/rag_db/**

## Ignore synchronized user references
knowledge/inputs/user_ref/data/**
knowledge/inputs/user_ref/file/**

## Keep README files
!knowledge/inputs/user_ref/data/README.md
!knowledge/inputs/user_ref/file/README.md
